<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.resume_backend.mapper.WorkinfoMapper">

    <resultMap id="BaseResultMap" type="com.hc.resume_backend.model.entity.Workinfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="workbegin" column="workBegin" jdbcType="DATE"/>
            <result property="workend" column="workEnd" jdbcType="DATE"/>
            <result property="worktime" column="workTime" jdbcType="VARCHAR"/>
            <result property="companyinfo" column="companyInfo" jdbcType="VARCHAR"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
            <result property="workdesc" column="workDesc" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,workBegin,workEnd,
        workTime,companyInfo,position,
        workDesc,createTime,updateTime,
        isDelete
    </sql>
</mapper>
